<div class="container__fluid">
    <footer class="footer p80" style="background-image: url(./assets/images/footer/bg.webp);">
        <div class="container">
            <h3 class="footer__title h-reset">Свяжитесь с нами</h3>
            <span class="footer__desc">Работаем ежедневнос 9:00 до 18:00</span>
            <div class="footer__inner">
                <div class="footer__inner__items">
                    <img src="./assets/images/footer/tel.svg" alt="tel" width="42" height="42">
                    <a href="tel:+78122431602" class="footer__inner__items__link">+7 (812) 243-16-02</a>
                </div>
                <div class="footer__inner__items">
                    <img src="./assets/images/footer/Mail.svg" alt="mail" width="42" height="42">
                    <a href="mail:direct@gksouz.pro" class="footer__inner__items__link">direct@gksouz.pro </a>
                </div>
            </div>
            <span class="footer__desc">156000 Санкт-Петербург, Проспект Непокорённых, д.74, Лит. А (Вход с улицы)</span>
            <img class="footer__line" src="./assets/images/footer/line.svg" width="1102" height="62">
            <h3 class="footer__title h-reset">Получите бесплатную консультацию</h3>
            <form action="">
                <div class="flex">
                    <input type="text" name="" id="" placeholder="Ваше имя" class="footer__input">
                    <input type="tel" name="" id="" placeholder="Ваш телефон" class="footer__input">
                    <input type="submit" value="Получить консультацию" class="btn-red footer__submit">
                </div>
            </form>
            <img class="footer__warwemark" src="./assets/images/footer/watermarks.svg" alt="watermark" width="769"
                height="396">
        </div>
    </footer>
    <footer class="subfooter">
        <div class="container">
            <div class="subfooter__inner">
                <div class="header__inner__logo subfooter__inner__logo">
                    <img src="./assets/images/svg/logo.svg" alt="logo" width="70" height="56">
                    <span>Комплексное обслуживание зданий</span>
                    <span><a href="">Политика конфидециальности</a></span>
                    <span>Группа компаний СОЮЗ © 2023. Все права защищены.</span>
                </div>
                <ul class="header__nav__social list-reset flex subfooter__inner__social">
                    <li><a href="" style="background-image: url(./assets/images/header/tel.svg);">+7 (812) 243-16-01</a></li>
                    <li><a href=""><img src="./assets/images/header/whats-app.svg" alt="whatsapp"></a></li>
                    <li><a href=""><img src="./assets/images/header/telegram.svg" alt="telegram"></a></li>
                    <li><a href=""><img src="./assets/images/header/mail.svg" alt="mail"></a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>